@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");


@import url("component/avatar.css");
@import url("component/container.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");





body {
  font-family: 'fantasy;', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 35px;
}
a{
	text-decoration: none;
}
